/*-- gallery --*/
.gallery {
    background: rgba(248, 213, 1, 0.15);
    padding: 80px 0;
	background:url(../images/service.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
}
.w3gallery-grids {
    padding: 1em;
}


  
/*-- imghvr-hinge --*/
[class^='imghvr-'],
[class*=' imghvr-'] {
	position: relative;
	display: inline-block;
	margin: 0px;
	max-width: 100%;
	background-color:#f8d501;
	color:#212121;
	overflow: hidden;
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	cursor: pointer;
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
	vertical-align: top;
	max-width: 100%;
}
[class^='imghvr-'] .agile-figcaption,
[class*=' imghvr-'] .agile-figcaption {
	background-color:#f8d501;
	padding:5.5em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color:#212121;
	text-align: center;
} 
[class^='imghvr-'] .agile-figcaption h4{
	font-size:1.5em;
	margin-bottom:.5em;
}
[class^='imghvr-'] .agile-figcaption p{
	line-height:2em;
	color:#7A7A7A;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
[class^='imghvr-hinge-'],
[class*=' imghvr-hinge-'] {
	-webkit-perspective: 50em;
	perspective: 50em;
}
[class^='imghvr-hinge-'] .agile-figcaption,
[class*=' imghvr-hinge-'] .agile-figcaption {
	opacity: 0;
	z-index: 1;
}
[class^='imghvr-hinge-']:hover img,
[class*=' imghvr-hinge-']:hover img {
	opacity: 0;
}
[class^='imghvr-hinge-']:hover .agile-figcaption,
[class*=' imghvr-hinge-']:hover .agile-figcaption {
	opacity: 1;
	-webkit-transition-delay: 0.21s;
	-moz-transition-delay: 0.21s;
	-o-transition-delay: 0.21s;
	-ms-transition-delay: 0.21s;
	transition-delay: 0.21s;
}
 
/*-- imghvr-hinge-right -- */
.imghvr-hinge-right img {
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}
.imghvr-hinge-right .agile-figcaption {
	-webkit-transform: rotateY(90deg);
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform: rotateY(90deg);
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}
.imghvr-hinge-right:hover > img {
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}
.imghvr-hinge-right:hover .agile-figcaption {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
} 
/*-- //imghvr-hinge --*/ 
/*-- //gallery --*/  